<template>
    <div>
         <name class=""></name>
        <input type="text" v-model="newName">
        <button @click.prevent="changeName()">Change</button>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                newName: ''
            }
        },
        
        methods: {
            changeName()
            {
                this.$eventHub.$emit('change-name', this.newName);
            }
        }
    }
</script>