<template>
  <v-jumbotron color="white" fluid v-show="event == true">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <center>
          <h3 class="display-3">Welcome to Infosoft Studio</h3>
          <v-divider class="my-3"></v-divider>
          <div class="title mb-5">Check out our newest features!</div>
          <v-btn large color="primary" class="mx-0">See more</v-btn>
          </center>
        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>
</template>
<script>
  import { DEFAULT_EVENT } from '@/constants/events'
  export default {
    data: () => {
      return {
        event: true
      }
    },
    methods: {
      update (payload) {
        this.event = payload
      }
    },
    created () {
      this.$eventHub.$on(DEFAULT_EVENT, this.update)
    },
    beforeDestroy () {
      this.$eventHub.$off(DEFAULT_EVENT, this.update)
    }
  }
</script>
